:root {
  --color-primary: #ee5f20;
  --color-primary-light: #f38c60;
  --color-primary-dark: #a2390c;

  --color-secondary: #f4f1ed;
  --color-secondary-light: #f8f5f3;
  --color-secondary-dark: #957c5b;

  --color-tertiary: #31211b;
  --color-tertiary-light: #6D493C;
  --color-tertiary-dark: #231813;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-grey-dark-4: #cdc7c3;
  --color-grey-dark-5: #404040;

  --color-black-1: #000;
  --color-black-2: #040404;

  --color-white-1: #fff;
  --color-alert-sucsess: #4caf50;
}