header {
  background-color: var(--color-secondary);

  .hero {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &__img {
      width: 60%;
      z-index: 1020;

      @include respond(tab-land) {
        width: 75%;
      }

      @include respond(phone) {
        width: 140%;
      }
    }

    &__shadow {
      margin-top: -3.2rem;
      z-index: 1010;
      width: 25%;
    }

    &__heading {
      font-size: 26.5rem;
      color: var(--color-grey-light-1);
      font-weight: bold;
      letter-spacing: 1rem;
      margin-top: -10rem;

      @include respond(tab-land) {
        font-size: 20.5rem;
        margin-top: -5rem;
      }

      @include respond(tab-port) {
        font-size: 16.5rem;
        margin-top: -5rem;
      }

      @include respond(small-phone) {
        font-size: 7.5rem;
        margin-top: -3rem;
      }
    }

    &__subheading {
      margin: -3.2rem 0 6.4rem 0;
      color: var(--color-grey-dark-4);
      font-size: 1.8rem;
      font-weight: normal;

      &-main {
        color: inherit;
        text-transform: uppercase;

        @include respond(tab-port) {
          font-size: 1.5rem;
        }
      }

      &-quote {
        display: block;
        font-size: 1.4rem;
        color: inherit;
        text-align: center;
      }
    }
  }
}