.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem;
    border: 1px solid red;
    width: 15rem;
    color: var(--color-white-1);
  }

  &--primary {
    background-color: var(--color-primary);
  }

  &:hover {
    background-color: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(var(--color-grey-light-4), .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba(var(--color-grey-light4), .15);
    transform: translateY(0);
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    fill: white;
  }
}