.section-features {
  max-width: 140rem;
  margin: 0 auto;
  padding: 6.4rem 2rem 12.8rem 2rem;

  @include respond(tab-port) {
    padding-bottom: 6.8rem;
  }


  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;

    .features-rotated-textbox {
      .features-rotated-text {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--color-grey-dark-4);
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        margin-top: 3.2rem;
      }

      @include respond(tab-port) {
        display: none;
      }
    }

    .features-content-box {
      width: 100rem;
      display: flex;
      justify-content: space-between;

      @include respond(tab-land) {
        padding: 3rem;
      }

      @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
      }

      .features-details-box {
        width: 45%;
        padding: 2rem;

        @include respond(tab-port) {
          width: 70%;
          order: 2;
        }

        &--reversed {
          order: 2;
          color: white;;
          padding-left: 3rem;
        }

        .features__text {
          font-size: 3.4rem;
          position: relative;
          margin-bottom: 3.5rem;

          &::after {
            border: 1px solid red;
            display: block;
            content: '';
            width: 15%;
            height: 0.4rem;
            background-color: var(--color-primary);
          }
        }

        .features-details {
          font-family: 'Montserrat', sans-serif;
          color: var(--color-tertiary);
          line-height: 1.5;

          &--white {
            color: var(--color-white-1);
          }
        }
      }

      .features__image {
        max-width: 45%;

        @include respond(tab-port) {
          width: 70%;
          order: 1;
          margin-bottom: 5rem;
        }

        &-box {
          display: block;
          object-fit: cover;
          width: 100%;
          height: auto;
        }

        &--reversed {
          order: 1;
        }
      }
    }
  }

  .data-container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
  }
}
