nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 120rem;
  margin: 0 auto 2.4rem;
  padding: 3.4rem 0;

  .nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 15rem;

    .nav__item {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--color-grey-dark-4);
      color: var(--color-tertiary);
    }
  }

  .nav__logo {
    width: 25%;
    height: auto;
  }
}
