// Locally host the primary font for fast access.
@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-sytle: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo-Italic.ttf") format("truetype");
  font-weight: 400;
  font-sytle: italic;
}

@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-sytle: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-sytle: italic;
}

@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-sytle: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-sytle: italic;
}

@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-sytle: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-sytle: italic;
}
