.section-features {
   max-width: 140rem;
  margin: 0 auto;
  padding: 6.4rem 2rem 12.8rem 2rem;
}

.section-form {
  height: 70vh;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}